<h3>Bonjour, vous êtes inscrit sur  yorsil!</h3>

{{ nom }}! Votre compte a été crée avec succès.

Votre mot de passe est : {{ mdp }}

Pour se connecter, aller vers: <a href="{{ url('app_login') }}">Login</a>.

Merci!