<footer id="footer" class="mt-5">
    <div class="row">
        <div class="col-12">
            <div class="d-flex flex-column gap-1">
                <div class="position-relative">
                    <div>
                        <img src="{{asset('modernize/images/logos/largeicon.png')}}" class="m-1" alt="logo" width="100">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column gap-1">
                <div>
                    <p>Vous accompagner dans la gestion de votre commerce en vous proposant des solutions uniques et innovantes !</p>
                    <span>Gagnez en efficacité avec la nouvelle application de vente.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column gap-1">
                <a href="{{path('mentions_legales')}}">Mentions Légales</a>
                <a href="{{path('politique_de_confidentialite')}}" target="_blank">Politique de confidentialité</a>
                <a href="{{path('conditions_generales_utilisation')}}">Conditions Générales d’Utilisation</a>
                <a href="javascript:void(0)">Politique de Cookies</a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex flex-column gap-2">
                <div>
                    <h6 class="fw-semibold mb-0"><span class="text-dark">Rejoignez-nous</span></h6>
                    <a class="fs-3 d-flex align-items-center gap-2 mb-0 text-dark" href="mailto:serviceclient@yorsil.com">
                        <i class="ti ti-mail fs-3"></i> support@yorsil.com
                    </a>
                </div>
                <div>
                    <h6 class="fw-semibold mb-0"><span class="text-dark">Contactez-nous</span></h6>
                    <a class="fs-3 d-flex align-items-center gap-2 mb-0 text-dark" href="tel:+33155820000">
                        <i class="ti ti-phone fs-3"></i> 01 88 61 16 20
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="d-flex flex-column gap-2 bg-primary text-white p-3 ">
                <p class="m-0">Copyright <i class="ti ti-copyright fs-4"></i> 2024 yorsil</p>
            </div>
        </div>
    </div>
</footer>