<!DOCTYPE html>
<html lang="fr">

<body style="background:#fff;font-family: Arial, sans-serif; font-style: normal">
<div style=" margin:auto">
    <div style="
    background: #fff;
    color: #666666;
    box-shadow: 0px 1px 4px rgba(0,0,0 ,0.3);
">

<hr>
<div style="display: flex; height: 100px; margin-bottom: 130px;">
    <div style="width: 50%">
         <img src="data:{{ image_type }};base64,{{ image_base64 }}" alt="Mon Image" height="75">
        <address style="margin-bottom: 1rem; font-style: normal; font-weight: 500;line-height: 1.5;">
            SARL YORSIL <br>
            61 RUE DE LYON <br>
            75012 PARIS <br>
            <strong>Numéro Siret :</strong> 93109801600013 <br>
            <strong>Numéro TVA :</strong> FR5931098016 <br>
            <strong>Code NAF / APE :</strong> 6202A
            </p>
        </address>
    </div>
    <div style="width: 50%;text-align: left;margin-left: 50%;">
        <address style="margin-bottom: 1rem;font-style: normal;font-weight: 500;text-align: left; line-height: 1.5;">
            <strong>N° Facture :</strong> 00001 <br>
            <strong>PÉRIODE :</strong> 01-07-2024 - 31-07-2024 <br>
            <strong>DATE :</strong> 01-08-2024 <br>
            <strong>N° CLIENT :</strong> 2024003 <br>
        </address>
    </div>
</div>

<div class="row" style="margin-top: 40px;">
    <div class="col-md-12">
        <table style="width: 100%;border-collapse: collapse">
            <thead style="padding: .5rem .5rem;background: #2980b9;color: #fff;">
                <tr style="border-bottom: 2px solid #ccc;padding: .5rem .5rem;">
                    <th style="text-align: center; padding: .5rem .5rem;">Mode de Facturation</th>
                    <th style="text-align: center; padding: .5rem .5rem;">Code article</th>
                    <th style="text-align: center; padding: .5rem .5rem;">Désignation</th>
                    <th style="text-align: center; padding: .5rem .5rem;">Qté</th>
                    <th style="text-align: center; padding: .5rem .5rem;">PU HT brut</th>
                    <th style="text-align: center; padding: .5rem .5rem;">TVA</th>
                    <th style="text-align: center; padding: .5rem .5rem;">PU HT net</th>
                    <th style="text-align: center; padding: .5rem .5rem;">Montant H.T</th>
                </tr>
            </thead>
            <tbody>

                <tr style="text-align:center;padding: .5rem .5rem;">
                    <td>Autoliquidation de TVA*</td>
                    <td>COUELESFR139</td>
                    <td>SFR la Carte Illimité 9,99 €</td>
                    <td>50</td>
                    <td>7,91 €</td>
                    <td>0 %</td>
                    <td>7,91 €</td>
                    <td>395,5 €</td>
                </tr>
                <tr style="text-align:center;padding: .5rem .5rem;">
                    <td>Autoliquidation de TVA*</td>
                    <td>COUELESFR140</td>
                    <td>SFR la Carte Illimité 14,99 €</td>
                    <td>120</td>
                    <td>11,87 €</td>
                    <td>0 %</td>
                    <td>11,87 €</td>
                    <td>1234,5 €</td>
                </tr>
                <tr style="text-align:center;padding: .5rem .5rem;">
                    <td>Autoliquidation de TVA*</td>
                    <td>COUELEMOB046</td>
                    <td>e-recharge 5 +1 €</td>
                    <td>25</td>
                    <td>11,87 €</td>
                    <td>0 %</td>
                    <td>1234,87 €</td>
                    <td>3434sa,5 €</td>
                </tr>
               
            </tbody>
            <tr style="padding: .5rem .5rem;background-color: rgba(0, 0, 0, 0.05)">
                <td colspan="4">
                </td>
                <td style="text-align: center; color:#212529;padding: .5rem .5rem;"><strong>
                    Montant Total </strong></td>
                <td style="color: #212529;text-align: center;padding: .5rem .5rem;">
                    <strong style="width: 100px">3 320,11 &euro;</strong>
                </td>
            </tr>
        </table>
    </div>
</div>

<div style="width: 100%;text-align: center;">
    <p style="text-align:text-center;">
        SARL YORSIL <br>
        61 RUE DE LYON 75012 PARIS <br>
        331 098 016 R.C.S. Paris - TVA FR5931098016 <br>
        Capital social : 25 000,00 €
    </p>
</div>

</div>
</body>
</html>
