<select name="countries" id="countries" is="ms-dropdown" data-child-height="200" data-show-Filter-Always="true" style="width: 100%; height: 36px;" required>
<option value="" disabled selected>Pays</option>
<option value="af" data-pays="Afghanistan" data-prefix="+93">Afghanistan (+93)</option>
<option value="za" data-pays="Afrique du sud" data-prefix="+27">Afrique du sud (+27)</option>
<option value="al" data-pays="Albanie" data-prefix="+355">Albanie (+355)</option>
<option value="dz" data-pays="Algérie" data-prefix="+213">Algérie (+213)</option>
<option value="de" data-pays="Allemagne" data-prefix="+49">Allemagne (+49)</option>
<option value="ad" data-pays="Andorre" data-prefix="+376">Andorre (+376)</option>
<option value="ao" data-pays="Angola" data-prefix="+244">Angola (+244)</option>
<option value="ai" data-pays="Anguilla" data-prefix="+1264">Anguilla (+1264)</option>
<option value="aq" data-pays="Antarctique" data-prefix="+672">Antarctique (+672)</option>
<option value="ag" data-pays="Antigua-et-barbuda" data-prefix="+1268">Antigua-et-barbuda (+1268)</option>
<option value="sa" data-pays="Arabie saoudite" data-prefix="+966">Arabie saoudite (+966)</option>
<option value="ar" data-pays="Argentine" data-prefix="+54">Argentine (+54)</option>
<option value="am" data-pays="Arménie" data-prefix="+374">Arménie (+374)</option>
<option value="aw" data-pays="Aruba" data-prefix="+297">Aruba (+297)</option>
<option value="au" data-pays="Australie" data-prefix="+61">Australie (+61)</option>
<option value="at" data-pays="Autriche" data-prefix="+43">Autriche (+43)</option>
<option value="az" data-pays="Azerbaïdjan" data-prefix="+994">Azerbaïdjan (+994)</option>
<option value="bs" data-pays="Bahamas" data-prefix="+1242">Bahamas (+1242)</option>
<option value="bh" data-pays="Bahreïn" data-prefix="+973">Bahreïn (+973)</option>
<option value="bd" data-pays="Bangladesh" data-prefix="+880">Bangladesh (+880)</option>
<option value="bb" data-pays="Barbade" data-prefix="+1246">Barbade (+1246)</option>
<option value="be" data-pays="Belgique" data-prefix="+32">Belgique (+32)</option>
<option value="bz" data-pays="Belize" data-prefix="+501">Belize (+501)</option>
<option value="bj" data-pays="Bénin" data-prefix="+229">Bénin (+229)</option>
<option value="bm" data-pays="Bermudes" data-prefix="+1441">Bermudes (+1441)</option>
<option value="bt" data-pays="Bhoutan" data-prefix="+975">Bhoutan (+975)</option>
<option value="by" data-pays="Biélorussie" data-prefix="+375">Biélorussie (+375)</option>
<option value="mm" data-pays="Birmanie" data-prefix="+95">Birmanie (+95)</option>
<option value="bo" data-pays="Bolivie" data-prefix="+591">Bolivie (+591)</option>
<option value="bq" data-pays="Bonaire, saint-eustache et saba" data-prefix="+5997">Bonaire, saint-eustache et saba (+5997)</option>
<option value="ba" data-pays="Bosnie-herzégovine" data-prefix="+387">Bosnie-herzégovine (+387)</option>
<option value="bw" data-pays="Botswana" data-prefix="+267">Botswana (+267)</option>
<option value="br" data-pays="Brésil" data-prefix="+55">Brésil (+55)</option>
<option value="bn" data-pays="Brunei darussalam" data-prefix="+673">Brunei darussalam (+673)</option>
<option value="bg" data-pays="Bulgarie" data-prefix="+359">Bulgarie (+359)</option>
<option value="bf" data-pays="Burkina faso" data-prefix="+226">Burkina faso (+226)</option>
<option value="bi" data-pays="Burundi" data-prefix="+257">Burundi (+257)</option>
<option value="kh" data-pays="Cambodge" data-prefix="+855">Cambodge (+855)</option>
<option value="cm" data-pays="Cameroun" data-prefix="+237">Cameroun (+237)</option>
<option value="ca" data-pays="Canada" data-prefix="+1">Canada (+1)</option>
<option value="cv" data-pays="Cap-vert" data-prefix="+238">Cap-vert (+238)</option>
<option value="cl" data-pays="Chili" data-prefix="+56">Chili (+56)</option>
<option value="cn" data-pays="Chine" data-prefix="+86">Chine (+86)</option>
<option value="cy" data-pays="Chypre" data-prefix="+357">Chypre (+357)</option>
<option value="co" data-pays="Colombie" data-prefix="+57">Colombie (+57)</option>
<option value="km" data-pays="Comores" data-prefix="+269">Comores (+269)</option>
<option value="cg" data-pays="Congo" data-prefix="+242">Congo (+242)</option>
<option value="cd" data-pays="Congo, république démocratique du" data-prefix="+243">Congo, république démocratique du (+243)</option>
<option value="kp" data-pays="Corée du nord" data-prefix="+850">Corée du nord (+850)</option>
<option value="kr" data-pays="Corée du sud" data-prefix="+82">Corée du sud (+82)</option>
<option value="cr" data-pays="Costa rica" data-prefix="+506">Costa rica (+506)</option>
<option value="ci" data-pays="Côte d'ivoire" data-prefix="+225">Côte d'ivoire (+225)</option>
<option value="hr" data-pays="Croatie" data-prefix="+385">Croatie (+385)</option>
<option value="cu" data-pays="Cuba" data-prefix="+53">Cuba (+53)</option>
<option value="cw" data-pays="Curaçao" data-prefix="+5999">Curaçao (+5999)</option>
<option value="dk" data-pays="Danemark" data-prefix="+45">Danemark (+45)</option>
<option value="dj" data-pays="Djibouti" data-prefix="+253">Djibouti (+253)</option>
<option value="dm" data-pays="Dominique" data-prefix="+1767">Dominique (+1767)</option>
<option value="eg" data-pays="Égypte" data-prefix="+20">Égypte (+20)</option>
<option value="ae" data-pays="Émirats arabes unis" data-prefix="+971">Émirats arabes unis (+971)</option>
<option value="ec" data-pays="Équateur" data-prefix="+593">Équateur (+593)</option>
<option value="er" data-pays="Érythrée" data-prefix="+291">Érythrée (+291)</option>
<option value="es" data-pays="Espagne" data-prefix="+34">Espagne (+34)</option>
<option value="ee" data-pays="Estonie" data-prefix="+372">Estonie (+372)</option>
<option value="us" data-pays="États-unis" data-prefix="+1">États-unis (+1)</option>
<option value="et" data-pays="Éthiopie" data-prefix="+251">Éthiopie (+251)</option>
<option value="fj" data-pays="Fidji" data-prefix="+679">Fidji (+679)</option>
<option value="fi" data-pays="Finlande" data-prefix="+358">Finlande (+358)</option>
<option value="fr" data-pays="France" data-prefix="+33">France (+33)</option>
<option value="ga" data-pays="Gabon" data-prefix="+241">Gabon (+241)</option>
<option value="gm" data-pays="Gambie" data-prefix="+220">Gambie (+220)</option>
<option value="ge" data-pays="Géorgie" data-prefix="+995">Géorgie (+995)</option>
<option value="gs" data-pays="Géorgie du sud et les îles sandwich du sud" data-prefix="+500">Géorgie du sud et les îles sandwich du sud (+500)</option>
<option value="gh" data-pays="Ghana" data-prefix="+233">Ghana (+233)</option>
<option value="gi" data-pays="Gibraltar" data-prefix="+350">Gibraltar (+350)</option>
<option value="gr" data-pays="Grèce" data-prefix="+30">Grèce (+30)</option>
<option value="gd" data-pays="Grenade" data-prefix="+1473">Grenade (+1473)</option>
<option value="gl" data-pays="Groenland" data-prefix="+299">Groenland (+299)</option>
<option value="gu" data-pays="Guam" data-prefix="+1671">Guam (+1671)</option>
<option value="gt" data-pays="Guatemala" data-prefix="+502">Guatemala (+502)</option>
<option value="gg" data-pays="Guernesey" data-prefix="+44">Guernesey (+44)</option>
<option value="gn" data-pays="Guinée" data-prefix="+224">Guinée (+224)</option>
<option value="gq" data-pays="Guinée équatoriale" data-prefix="+240">Guinée équatoriale (+240)</option>
<option value="gw" data-pays="Guinée-bissau" data-prefix="+245">Guinée-bissau (+245)</option>
<option value="gy" data-pays="Guyane" data-prefix="+592">Guyane (+592)</option>
<option value="gf" data-pays="Guyane française" data-prefix="+594">Guyane française (+594)</option>
<option value="ht" data-pays="Haïti" data-prefix="+509">Haïti (+509)</option>
<option value="hn" data-pays="Honduras" data-prefix="+504">Honduras (+504)</option>
<option value="hk" data-pays="Hong kong" data-prefix="+852">Hong kong (+852)</option>
<option value="hu" data-pays="Hongrie" data-prefix="+36">Hongrie (+36)</option>
<option value="bv" data-pays="Île bouvet" data-prefix="+47">Île bouvet (+47)</option>
<option value="cx" data-pays="Île christmas" data-prefix="+61">Île christmas (+61)</option>
<option value="im" data-pays="Île de man" data-prefix="+44">Île de man (+44)</option>
<option value="nf" data-pays="Île norfolk" data-prefix="+672">Île norfolk (+672)</option>
<option value="ax" data-pays="Îles åland" data-prefix="+358">Îles åland (+358)</option>
<option value="ky" data-pays="Îles caïmans" data-prefix="+1345">Îles caïmans (+1345)</option>
<option value="cc" data-pays="Îles cocos (keeling)" data-prefix="+61">Îles cocos (keeling) (+61)</option>
<option value="ck" data-pays="Îles cook" data-prefix="+682">Îles cook (+682)</option>
<option value="fo" data-pays="Îles féroé" data-prefix="+298">Îles féroé (+298)</option>
<option value="hm" data-pays="Îles heard-et-mcdonald" data-prefix="+64">Îles heard-et-mcdonald (+64)</option>
<option value="fk" data-pays="Îles malouines" data-prefix="+500">Îles malouines (+500)</option>
<option value="mp" data-pays="Îles mariannes du nord" data-prefix="+1671">Îles mariannes du nord (+1671)</option>
<option value="mh" data-pays="Îles marshall" data-prefix="+692">Îles marshall (+692)</option>
<option value="sb" data-pays="Îles salomon" data-prefix="+677">Îles salomon (+677)</option>
<option value="tc" data-pays="Îles turques-et-caïques" data-prefix="+1649">Îles turques-et-caïques (+1649)</option>
<option value="vg" data-pays="Îles vierges britanniques" data-prefix="+1284">Îles vierges britanniques (+1284)</option>
<option value="vi" data-pays="Îles vierges des états-unis" data-prefix="+13">Îles vierges des états-unis (+13)</option>
<option value="in" data-pays="Inde" data-prefix="+91">Inde (+91)</option>
<option value="id" data-pays="Indonésie" data-prefix="+62">Indonésie (+62)</option>
<option value="iq" data-pays="Irak" data-prefix="+964">Irak (+964)</option>
<option value="ir" data-pays="Iran" data-prefix="+98">Iran (+98)</option>
<option value="ie" data-pays="Irlande" data-prefix="+353">Irlande (+353)</option>
<option value="is" data-pays="Islande" data-prefix="+354">Islande (+354)</option>
<option value="il" data-pays="Israël" data-prefix="+972">Israël (+972)</option>
<option value="it" data-pays="Italie" data-prefix="+39">Italie (+39)</option>
<option value="ly" data-pays="Jamahiriya arabe libyenne" data-prefix="+218">Jamahiriya arabe libyenne (+218)</option>
<option value="jm" data-pays="Jamaïque" data-prefix="+1876">Jamaïque (+1876)</option>
<option value="jp" data-pays="Japon" data-prefix="+81">Japon (+81)</option>
<option value="je" data-pays="Jersey" data-prefix="+44">Jersey (+44)</option>
<option value="jo" data-pays="Jordan" data-prefix="+962">Jordan (+962)</option>
<option value="kz" data-pays="Kazakhstan" data-prefix="+77">Kazakhstan (+77)</option>
<option value="ke" data-pays="Kenya" data-prefix="+254">Kenya (+254)</option>
<option value="kg" data-pays="Kirghizistan" data-prefix="+996">Kirghizistan (+996)</option>
<option value="ki" data-pays="Kiribati" data-prefix="+686">Kiribati (+686)</option>
<option value="xk" data-pays="Kosovo" data-prefix="+383">Kosovo (+383)</option>
<option value="kw" data-pays="Koweït" data-prefix="+965">Koweït (+965)</option>
<option value="la" data-pays="Laos" data-prefix="+856">Laos (+856)</option>
<option value="ls" data-pays="Lesotho" data-prefix="+266">Lesotho (+266)</option>
<option value="lv" data-pays="Lettonie" data-prefix="+371">Lettonie (+371)</option>
<option value="lb" data-pays="Liban" data-prefix="+961">Liban (+961)</option>
<option value="lr" data-pays="Libéria" data-prefix="+231">Libéria (+231)</option>
<option value="li" data-pays="Liechtenstein" data-prefix="+423">Liechtenstein (+423)</option>
<option value="lt" data-pays="Lituanie" data-prefix="+370">Lituanie (+370)</option>
<option value="lu" data-pays="Luxembourg" data-prefix="+352">Luxembourg (+352)</option>
<option value="mo" data-pays="Macao" data-prefix="+853">Macao (+853)</option>
<option value="mk" data-pays="Macédoine" data-prefix="+389">Macédoine (+389)</option>
<option value="mg" data-pays="Madagascar" data-prefix="+261">Madagascar (+261)</option>
<option value="my" data-pays="Malaisie" data-prefix="+60">Malaisie (+60)</option>
<option value="mw" data-pays="Malawi" data-prefix="+265">Malawi (+265)</option>
<option value="mv" data-pays="Maldives" data-prefix="+960">Maldives (+960)</option>
<option value="ml" data-pays="Mali" data-prefix="+223">Mali (+223)</option>
<option value="mt" data-pays="Malte" data-prefix="+356">Malte (+356)</option>
<option value="ma" data-pays="Maroc" data-prefix="+212">Maroc (+212)</option>
<option value="mq" data-pays="Martinique" data-prefix="+596">Martinique (+596)</option>
<option value="mr" data-pays="Mauritanie" data-prefix="+222">Mauritanie (+222)</option>
<option value="yt" data-pays="Mayotte" data-prefix="+262">Mayotte (+262)</option>
<option value="mx" data-pays="Mexique" data-prefix="+52">Mexique (+52)</option>
<option value="fm" data-pays="Micronésie" data-prefix="+691">Micronésie (+691)</option>
<option value="md" data-pays="Moldavie" data-prefix="+373">Moldavie (+373)</option>
<option value="mc" data-pays="Monaco" data-prefix="+377">Monaco (+377)</option>
<option value="mn" data-pays="Mongolie" data-prefix="+976">Mongolie (+976)</option>
<option value="me" data-pays="Monténégro" data-prefix="+382">Monténégro (+382)</option>
<option value="ms" data-pays="Montserrat" data-prefix="+1664">Montserrat (+1664)</option>
<option value="mz" data-pays="Mozambique" data-prefix="+258">Mozambique (+258)</option>
<option value="na" data-pays="Namibie" data-prefix="+264">Namibie (+264)</option>
<option value="nr" data-pays="Nauru" data-prefix="+674">Nauru (+674)</option>
<option value="np" data-pays="Népal" data-prefix="+977">Népal (+977)</option>
<option value="ni" data-pays="Nicaragua" data-prefix="+505">Nicaragua (+505)</option>
<option value="ne" data-pays="Niger" data-prefix="+227">Niger (+227)</option>
<option value="ng" data-pays="Nigéria" data-prefix="+234">Nigéria (+234)</option>
<option value="nu" data-pays="Niue" data-prefix="+683">Niue (+683)</option>
<option value="no" data-pays="Norvège" data-prefix="+47">Norvège (+47)</option>
<option value="nc" data-pays="Nouvelle-calédonie" data-prefix="+687">Nouvelle-calédonie (+687)</option>
<option value="nz" data-pays="Nouvelle-zélande" data-prefix="+64">Nouvelle-zélande (+64)</option>
<option value="om" data-pays="Oman" data-prefix="+968">Oman (+968)</option>
<option value="ug" data-pays="Ouganda" data-prefix="+256">Ouganda (+256)</option>
<option value="uz" data-pays="Ouzbékistan" data-prefix="+998">Ouzbékistan (+998)</option>
<option value="pk" data-pays="Pakistan" data-prefix="+92">Pakistan (+92)</option>
<option value="pw" data-pays="Palau" data-prefix="+680">Palau (+680)</option>
<option value="pa" data-pays="Panamá" data-prefix="+507">Panamá (+507)</option>
<option value="pg" data-pays="Papouasie-nouvelle-guinée" data-prefix="+675">Papouasie-nouvelle-guinée (+675)</option>
<option value="py" data-pays="Paraguay" data-prefix="+595">Paraguay (+595)</option>
<option value="nl" data-pays="Pays-bas" data-prefix="+31">Pays-bas (+31)</option>
<option value="pe" data-pays="Pérou" data-prefix="+51">Pérou (+51)</option>
<option value="ph" data-pays="Philippines" data-prefix="+63">Philippines (+63)</option>
<option value="pn" data-pays="Pitcairn" data-prefix="+870">Pitcairn (+870)</option>
<option value="pl" data-pays="Pologne" data-prefix="+48">Pologne (+48)</option>
<option value="pf" data-pays="Polynésie française" data-prefix="+689">Polynésie française (+689)</option>
<option value="pr" data-pays="Porto rico" data-prefix="+1">Porto rico (+1)</option>
<option value="pt" data-pays="Portugal" data-prefix="+351">Portugal (+351)</option>
<option value="qa" data-pays="Qatar" data-prefix="+974">Qatar (+974)</option>
<option value="sy" data-pays="République arabe syrienne" data-prefix="+963">République arabe syrienne (+963)</option>
<option value="cf" data-pays="République centrafricaine" data-prefix="+236">République centrafricaine (+236)</option>
<option value="do" data-pays="République dominicaine" data-prefix="+18">République dominicaine (+18)</option>
<option value="cz" data-pays="République tchèque" data-prefix="+420">République tchèque (+420)</option>
<option value="re" data-pays="Réunion" data-prefix="+262">Réunion (+262)</option>
<option value="ro" data-pays="Roumanie" data-prefix="+40">Roumanie (+40)</option>
<option value="gb" data-pays="Royaume-uni" data-prefix="+44">Royaume-uni (+44)</option>
<option value="ru" data-pays="Russie" data-prefix="+7">Russie (+7)</option>
<option value="rw" data-pays="Rwanda" data-prefix="+250">Rwanda (+250)</option>
<option value="kn" data-pays="Saint-kitts-et-nevis" data-prefix="+1869">Saint-kitts-et-nevis (+1869)</option>
<option value="mf" data-pays="Saint martin" data-prefix="+721">Saint martin (+721)</option>
<option value="pm" data-pays="Saint-pierre-et-miquelon" data-prefix="+508">Saint-pierre-et-miquelon (+508)</option>
<option value="vc" data-pays="Saint-vincent-et-les-grenad" data-prefix="+1784">Saint-vincent-et-les-grenad (+1784)</option>
<option value="sh" data-pays="Sainte-hélène" data-prefix="+290">Sainte-hélène (+290)</option>
<option value="lc" data-pays="Sainte-lucie" data-prefix="+1758">Sainte-lucie (+1758)</option>
<option value="sm" data-pays="Saint-marin" data-prefix="+378">Saint-marin (+378)</option>
<option value="va" data-pays="Saint-siège (état de la cité du vatican)" data-prefix="+39">Saint-siège (état de la cité du vatican) (+39)</option>
<option value="sv" data-pays="Salvador" data-prefix="+503">Salvador (+503)</option>
<option value="ws" data-pays="Samoa" data-prefix="+685">Samoa (+685)</option>
<option value="as" data-pays="Samoa américaines" data-prefix="+1684">Samoa américaines (+1684)</option>
<option value="st" data-pays="Sao tomé-et-principe" data-prefix="+239">Sao tomé-et-principe (+239)</option>
<option value="sn" data-pays="Sénégal" data-prefix="+221">Sénégal (+221)</option>
<option value="sc" data-pays="Seychelles" data-prefix="+248">Seychelles (+248)</option>
<option value="sl" data-pays="Sierra leone" data-prefix="+232">Sierra leone (+232)</option>
<option value="sg" data-pays="Singapour" data-prefix="+65">Singapour (+65)</option>
<option value="sx" data-pays="Sint maarten (partie néerlandaise)" data-prefix="+1">Sint maarten (partie néerlandaise) (+1)</option>
<option value="sk" data-pays="Slovaquie" data-prefix="+421">Slovaquie (+421)</option>
<option value="si" data-pays="Slovénie" data-prefix="+386">Slovénie (+386)</option>
<option value="so" data-pays="Somalie" data-prefix="+252">Somalie (+252)</option>
<option value="sd" data-pays="Soudan" data-prefix="+249">Soudan (+249)</option>
<option value="ss" data-pays="Soudan du sud" data-prefix="+211">Soudan du sud (+211)</option>
<option value="lk" data-pays="Sri lanka" data-prefix="+94">Sri lanka (+94)</option>
<option value="se" data-pays="Suède" data-prefix="+46">Suède (+46)</option>
<option value="ch" data-pays="Suisse" data-prefix="+41">Suisse (+41)</option>
<option value="sr" data-pays="Surinam" data-prefix="+597">Surinam (+597)</option>
<option value="sj" data-pays="Svalbard et jan mayen" data-prefix="+47">Svalbard et jan mayen (+47)</option>
<option value="sz" data-pays="Swaziland" data-prefix="+268">Swaziland (+268)</option>
<option value="tj" data-pays="Tadjikistan" data-prefix="+992">Tadjikistan (+992)</option>
<option value="tw" data-pays="Taïwan" data-prefix="+886">Taïwan (+886)</option>
<option value="tz" data-pays="Tanzanie" data-prefix="+255">Tanzanie (+255)</option>
<option value="td" data-pays="Tchad" data-prefix="+235">Tchad (+235)</option>
<option value="tf" data-pays="Terres australes et antarctiques françaises" data-prefix="+262">Terres australes et antarctiques françaises (+262)</option>
<option value="io" data-pays="Territoire britannique de l" data-prefix="+246">Territoire britannique de l (+246)</option>
<option value="th" data-pays="Thaïlande" data-prefix="+66">Thaïlande (+66)</option>
<option value="tl" data-pays="Timor oriental" data-prefix="+670">Timor oriental (+670)</option>
<option value="tg" data-pays="Togo" data-prefix="+228">Togo (+228)</option>
<option value="tk" data-pays="Tokelau" data-prefix="+690">Tokelau (+690)</option>
<option value="to" data-pays="Tonga" data-prefix="+676">Tonga (+676)</option>
<option value="tt" data-pays="Trinité-et-tobago" data-prefix="+1868">Trinité-et-tobago (+1868)</option>
<option value="tn" data-pays="Tunisie" data-prefix="+216">Tunisie (+216)</option>
<option value="tm" data-pays="Turkménistan" data-prefix="+993">Turkménistan (+993)</option>
<option value="tr" data-pays="Turquie" data-prefix="+90">Turquie (+90)</option>
<option value="tv" data-pays="Tuvalu" data-prefix="+688">Tuvalu (+688)</option>
<option value="ua" data-pays="Ukraine" data-prefix="+380">Ukraine (+380)</option>
<option value="uy" data-pays="Uruguay" data-prefix="+598">Uruguay (+598)</option>
<option value="vu" data-pays="Vanuatu" data-prefix="+678">Vanuatu (+678)</option>
<option value="ve" data-pays="Venezuela" data-prefix="+58">Venezuela (+58)</option>
<option value="vn" data-pays="Viêt nam" data-prefix="+84">Viêt nam (+84)</option>
<option value="wf" data-pays="Wallis-et-futuna" data-prefix="+681">Wallis-et-futuna (+681)</option>
<option value="ye" data-pays="Yémen" data-prefix="+967">Yémen (+967)</option>
<option value="zm" data-pays="Zambie" data-prefix="+260">Zambie (+260)</option>
<option value="zw" data-pays="Zimbabwe" data-prefix="+263">Zimbabwe (+263)</option>
</select>